<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Платформа цифровых товаров</title>
</head>
<body>

<header>
    <h1>Платформа цифровых товаров</h1>
</header>

<nav>
    <a href="catalog">Каталог</a>
    <a href="favorites">Избранное</a>
    <a href="cart">Корзина</a>
    <a href="history">История покупок</a>
    <a href="seller">Страница продавца</a>
</nav>



<footer>
    <p>&copy; 2024 Цифровая платформа</p>
</footer>

</body>
</html>